{% extends "error.html" %}
{% load i18n %}

{% block title %}403 - {% trans "Permission denied" %}{% endblock %}
{% block content %}
    <h1>{% trans "Forbidden" %}</h1>
    <h2>{% trans "Page unavailable" %}</h2>
    <p>{% trans "You have no permissions to see content of this page" %}</p>
    {% if not user.is_authenticated %}
    <p>Try to <a href="{% url auth_login %}">login</a> first.</p>
    {% endif %}
{% endblock %}
