{% extends "error.html" %}
{% load i18n %}

{% block title %}500 - {% trans "Server Error" %}{% endblock %}
{% block content %}
    <h1>{% trans "Server Error" %}</h1>
    <h2>{% trans "Page unavailable" %}</h2>
    <p>Sorry, but the requested page is unavailable due to a
    server hiccup.</p>
    <p>Our engineers have been notified, so check back later.</p>
{% endblock %}
