{% load cms_tags staticfiles sekizai_tags menu_tags compress %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% page_attribute page_title %} - {{ request.site.name }}{% endblock title %}</title>
        <meta name="description" content="{% page_attribute meta_description %}"/>
        <meta name="keywords" content="{% page_attribute meta_keywords %}{% block meta-keywords %}{% if object.tags %}{{ object.tags }}{% endif %}{% endblock %}"/>

        <meta name="google-site-verification" content="Zwb738KwlVPrHrhJuYRRJ4yAiynIn5KcjqtL0cK-EDs" />

        <!-- Place favicon.ico and apple-touch-icon.png in the STATIC_URL directory -->
        <!-- To easily create your various favicon files, try http://iconifier.net/ -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon/favicon.ico" %}"/>
        <link rel="icon" type="image/x-icon" href="{% static "img/favicon/favicon.ico" %}"/>
        <link rel="apple-touch-icon" href="{% static "img/favicon/apple-touch-icon.png" %}"/>
        <link rel="apple-touch-icon" sizes="57x57" href="{% static "img/favicon/apple-touch-icon-57x57.png" %}"/>
        <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/favicon/apple-touch-icon-72x72.png" %}"/>
        <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/favicon/apple-touch-icon-76x76.png" %}"/>
        <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/favicon/apple-touch-icon-114x114.png" %}"/>
        <link rel="apple-touch-icon" sizes="120x120" href="{% static "img/favicon/apple-touch-icon-120x120.png" %}"/>
        <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/favicon/apple-touch-icon-144x144.png" %}"/>
        <link rel="apple-touch-icon" sizes="152x152" href="{% static "img/favicon/apple-touch-icon-152x152.png" %}"/>
        <meta name="apple-mobile-web-app-title" content="{{ project_name }}">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="HandheldFriendly" content="True">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="cleartype" content="on">
        <meta http-equiv="imagetoolbar" content="false">

        <!-- DNS Prefetch for speedy Google CDN access (JQuery/Ajax) -->
        <link rel="dns-prefetch" href="//ajax.googleapis.com">

        <!-- IE9+ Pinning support -->
        <meta name="application-name" content="{{ project_name }}">
        <meta name="msapplication-tooltip" content="{{ project_name }} website.">
        <meta name="msapplication-starturl" content="http://{{ project_name }}?pinned=true">
        <meta name="msapplication-TileImage" content="{% static "apple-touch-icon-144x144.png" %}">
        <meta name="msapplication-TileColor" content="#282860">
        <meta name="msapplication-navbutton-color" content="#282860">
        <!--[if IEMobile]><meta http-equiv="cleartype" content="on" /><![endif]-->

        <!-- Facebook OpenGraphs support (Twitter also) -->
        <meta property="og:title" content="Welcome to {{ project_name }}">
        <meta property="og:site_name" content={{ project_name }}">
        <meta property="og:type" content="website">
        <meta property="og:description" content="{{ project_name }} Website">
        <meta property="og:image" content="{% static "apple-touch-icon-152x152.png" %}">
        <meta property="og:tag" content="website django oddotter  {{ project_name }}">
{#  If you want to use django-compressor for ondemand LESS compiling - #}
{#        {% if debug %}#}
{#            <!-- DEBUG MODE IS ON! ----------------------------------------------------------------------->#}
{#            <link href="{% static "less/style.less" %}" media="screen" rel="stylesheet" type="text/less"/>#}
{#            <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.2/less.min.js"></script>#}
{#            <script type="text/javascript">#}
{#                less = {#}
{#                    env: "development", // or "production"#}
{#                    async: false,       // load imports async#}
{#                    fileAsync: false,   // load imports async when in a page under#}
{#                    // a file protocol#}
{#                    poll: 1000,         // when in watch mode, time in ms between polls#}
{#                    functions: {},      // user functions, keyed by name#}
{#                    dumpLineNumbers: "comments", // or "mediaQuery" or "all"#}
{#                    //rootpath: ":/a.com/",  // a path to add on to the start of every url#}
{#                    //resource#}
{#                    relativeUrls: false // whether to adjust url's to be relative#}
{#                    // if false, url's are already relative to the#}
{#                    // entry less file#}
{#                };#}
{#            </script>#}
{#        {% else %}#}
{#            {% compress css %}#}
{#                <link href="{% static "less/style.less" %}" media="screen" rel="stylesheet" type="text/less" charset="utf-8"/>#}
{#            {% endcompress %}#}
{#        {% endif %}#}
        <link href="{% static "css/style.css" %}" media="screen" rel="stylesheet" type="text/css"/>

        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <div id="bg-flare"><img src="{% static "img/bg-flare.png" %}"></div>

        <div class="navbar navbar-default navbar-fixed-top">
            <!--div class="container"-->
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><img src="{% static "img/favicon/apple-touch-icon-57x57.png" %}" alt="LOGO"/> {{ project_name }}</a>
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav">
                        {% show_menu 0 1 100 100 "menu.html" %}
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>{% if user.is_authenticated %}
                            <a href="/accounts/login/">{{ user }}</a></li>{% else %}
                            <a href="/accounts/login/">Login</a>{% endif %}
                        </li>
                        <li><a href="/help/" >Help</a></li>
                    </ul>

                </div>
            <!--/div-->
        </div>

        <div class="container">

            {% block pageheader %}
                <div class="page-header" id="banner">
                    <div class="row">
                        <div class="col-lg-4 col-md-5 col-sm-6" id="logo-large">
                            {% static_placeholder "logo" or %}
                                <img src="{% static "img/logo.png" %}" alt="LOGO"/>
                            {% endstatic_placeholder %}
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-6">
                            {% static_placeholder "header" or %}
                                <h1>Site Name</h1>
                                <p class="lead">Slogan or description of services</p>
                            {% endstatic_placeholder %}
                        </div>
                    </div>
                </div>
            {% endblock pageheader %}

            {% block feature %}
            {% endblock feature %}

            {% block breadcrumb %}
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        {% if not request.current_page.is_home %}
                            <nav class="row" role="navigation">
                                <ul class="small-24 column breadcrumb">
                                    <li class="title">You are here:</li>
                                    {% block extend_breadcrumb %}
                                        {% show_breadcrumb 0 "includes/breadcrumb.html" %}
                                    {% endblock extend_breadcrumb %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>
            {% endblock breadcrumb %}

            {% block body %}
                <div class="row">
                    <div class="col-sm-12">
                        {% block content %}
                            {% placeholder "content" or %}
                                {% include "instructions_content.html" %}
                                {% include "example_content.html" %}
                            {% endplaceholder %}
                        {% endblock content %}
                    </div>
                </div>
            {% endblock body %}

            <footer>
                {% block footer %}
                    <div class="row">
                        <div class="col-lg-12">
                            {% static_placeholder "footer" %}
                        </div>
                    </div>
                {% endblock footer %}
            </footer>
        </div>

        <!-- Keep JavaScript at the bottom for fast page loading --><!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline --><!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="http://code.jquery.com/jquery.js"></script>
        <script>window.jQuery || document.write('<script src="{% static "js/jquery.min.js" %}"><\/script>')</script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        {#        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>#}
        <script src="{% static "bootswatch/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
        <script src="{% static "bootswatch/assets/js/bootswatch.js" %}"></script>

        <!-- Google fonts API -->
        <script src="http://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
        <script>
          WebFont.load({
            google: {
              families: ['Questrial','Architects Daughter',]
            }
          });
        </script>

        <~-- Add your google analytics code here, if you are using it -->

        {% if user.is_authenticated %}
            <script>
                ga(‘set’, ‘&uid’, '{{ user }}'); // Set the user ID using signed-in user_id.
            </script>
        {% endif %}

        {% render_block "js" %}

    </body>
</html>

