{% extends "base.html" %}
{% load i18n %}

{% block title %}ERROR{% endblock %}
{% block tpl_id %}ERROR{% endblock tpl_id %}
{% block mainbody %}
    <section class="features">
        <div class="col-12" id="content">
                <article>
                    <div class="txtPlugin">
                        {% block content %}{% endblock %}
                    </div>
                </article>
        </div>
    </section>
{% endblock mainbody %}
