{% extends "base.html" %}
{% load i18n %}

{% block title %}404 - {% trans "Not Found" %}{% endblock %}

{% block tpl_id %}ERROR{% endblock tpl_id %}


{% block mainbody %}
    <section class="features">
        <div class="col-full" id="content">
            {% block content %}
                <h1>{% trans "Not Found" %}</h1>
                <h2>{% trans "Page unavailable" %}</h2>
                <p>Sorry, but the requested page at</p>
                <pre>{{ request.path }}</pre>
                <p>is unavailable.</p>
            {% endblock %}
        </div>
    </section>
{% endblock mainbody %}
