{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}


            {% block feature %}
                <div class="row" id="feature">
                    <div class="col-sm-12">
                        <div class="jumbotron">{% placeholder "feature" %}</div>
                    </div>
                </div>
            {% endblock feature %}

