{% load sekizai_tags %}

<article>
    <div class="alert alert-dismissable alert-warning">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h1>Default Content Alert!</h1>
        <p>Edit this page and replace this content before publishing!</p>
        <p>This is where all of your content goes.  Below is a sample that
           demonstrates most of the style and effects available to you.  The sample
           content will disappear when you edit the page.
        </p>
    </div>
    <div class="alert alert-dismissable alert-info">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h2>Instructions:</h2>
        <p>There are several areas on the page that you can add content to.  This
           theme allows for automatic replication of content in the Logo, Contact,
           Copyright, and Sidebar sections.  If you have not already done so,
           make sure to set the content in those area so that the site will flesh
           out automatically.</p>
        <p>As you add pages and publish them to the navigation - they will
           automatically show up in the menu.  If you need to reorganize any pages
           at a later date, you can simply drag them around in the
           <a href="{% url "admin:cms_page_changelist" %}" id="change-page">pages admin</a> area.</p>
    </div>
</article>
{% addtoblock "js" %}
    <script type="text/javascript">
        if(window.CMS !== undefined) {
            CMS.$('#change-page').bind('click', function (e) {
                e.preventDefault();
                CMS.API.Toolbar.openModal('{% url "admin:cms_page_changelist" %}', 'Pages Admin');
                CMS.API.Toolbar.closeModal = function () {
                    CMS.API.Helpers.reloadBrowser();
                };
            });
        }
    </script>
{% endaddtoblock %}
