                                    <article>
                                        <div class="txtPlugin">
                                            <h1>SideBar</h1>
                                            <p>Sidebar content is inherited to all child pages and can be over-ridden by any parent.
                                               Typically this is for hotlinks, embedded menus or banners that you wish to see across
                                               several pages, consistently.</p>
                                        </div>
                                    </article>

                                    <article>
                                        <div class="txtPlugin">
                                        <h1>Supp.</h1>
                                        <p>Additionally, the supplemental section will only show its content
                                           on the page that it is added to and has no default content when the page is
                                           created. </p>
                                        </div>
                                    </article>
