{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

            {% block body %}

                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-6">
                        {% block content %}{% with 750 as width %}
                            {% placeholder "content" or %}
                                {% include "instructions_content.html" %}
                                {% include "example_content.html" %}
                            {% endplaceholder %}
                        {% endwith %}{% endblock content %}
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        {% if not request.current_page.is_home %}
                            {% page_attribute menu_title request.current_page.get_root as subtitle %}
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <h3 class="panel-title">{{ subtitle }}</h3>
                              </div>
                              <div class="panel-body">
                                {% with class="subnav" title=subtitle %}
                                    {% show_menu 1 99 0 99  "includes/navigation.html" %}
                                {% endwith %}
                              </div>
                            </div>
                        {% endif %}
{#                        <div class="panel panel-default">#}
{#                            <div class="panel-body">#}
{#                                {% block sidebar %}#}
                                    {% placeholder sidebar inherit %}
{#                                {% endblock sidebar %}#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            {% endblock body %}
