{% load i18n native cms_tags menu_tags sekizai_tags thumbnail webdesign %}
<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lxml:lang="{{ LANGUAGE_CODE }}" ang="{{ LANGUAGE_CODE }}> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <!-- Use the .htaccess and remove these lines to avoid edge case issues.
           More info: h5bp.com/i/378 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>INWCC - {% block title %}{{ object.title }}{% endblock %} {{ request.current_page.get_title }}</title>

        <meta name="description" content="{% page_attribute meta_description %}"/>
        <meta name="keywords" content="{% page_attribute meta_keywords %}{% block meta-keywords %}{% if object.tags %}{{ object.tags }}{% endif %}{% endblock %}"/>

        <!-- Mobile viewport optimized: h5bp.com/viewport -->
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

        {% render_block "css" %}
        <link href="{{ MEDIA_URL }}css/style.less" media="screen" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}css/survey.css" media="screen" rel="stylesheet" type="text/css" />

        <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

        <!-- All JavaScript at the bottom, except this Modernizr build.
           Modernizr enables HTML5 elements & feature detects for optimal performance.
           Create your own custom Modernizr build: www.modernizr.com/download/ -->
        <script src="{{ MEDIA_URL }}js/libs/modernizr-2.5.3.min.js"></script>

        {% block extra_head %}{% endblock %}
    </head>

    <body id="{% block tpl_id %}none{% endblock %}" class="{{ LANGUAGE_CODE }}">
        <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
             chromium.org/developers/how-tos/chrome-frame-getting-started -->
        <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
        <header>
            {% cms_toolbar %}
        </header>

        {% block content %}
            {% placeholder content %}
        {% endblock content %}

        <footer>

        </footer>

        <!-- Keep JavaScript at the bottom for fast page loading -->

        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
        <script>window.jQuery || document.write('<script src="{{ MEDIA_URL }}js/libs/jquery-1.7.2.min.js"><\/script>')</script>

        <!-- scripts concatenated and minified via build script -->
        <script src="{{ MEDIA_URL }}js/plugins.js"></script>
        <script src="{{ MEDIA_URL }}js/script.js"></script>
        <!-- end scripts -->

        <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
             mathiasbynens.be/notes/async-analytics-snippet -->
        <!--script>
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
        </script-->

        {% render_block "js" %}
    </body>
</html>
