<div class="contactplusPlugin">
{% if form %}
        <form action="" method="POST">{% csrf_token %}
                {{ form.as_p }}
                <input type="submit"{% if contact.submit %} value="{{ contact.submit }}"{% endif %} />
        </form>
{% else %}
        {{ contact.thanks|safe }}
{% endif %}
</div>