{% load i18n menu_tags cache %}

{% for child in children %}
    {% if class and forloop.first and not forloop.parentloop %}
        <nav class="{{ class }}" role="navigation">
            <ul>
    {% endif %}

                <li class="child{% if child.ancestor %} ancestor{% endif %}{% if child.selected %} active{% endif %}{% if child.children %} children{% endif %}">
                    <a href="{{ child.get_absolute_url }}"><span>{{ child.get_menu_title }}</span></a>{% if child.children %}
                    <ul>
                        {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
                    </ul>
                    {% endif %}
                </li>

    {% if class and forloop.last and not forloop.parentloop %}
            </ul>
        </nav>
    {% endif %}
{% endfor %}