{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block header %}
    {% addtoblock "css" %}
        <style>
            #logo {
                top: -50px;
            }
            #slogan {
                text-align: center;
            }
        </style>
    {% endaddtoblock %}

    <div class="col-sm-4">
        <div class='imagecontainer'  id="logo">
            <a href="http://oddotter.com/" target="_blank" ><img src="{% static 'img/favicon/logo.png' %}" /></a>
        </div>
    </div>
    <div class="col-sm-8" id="slogan">
        <h1>New Site Setup</h1>
        <h2>Instructions and Configuration</h2>
    </div>
{% endblock header %}


{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Welcome to the Django CMS Project Template!</h1>
            <p>This page is here to help you get started!  Once you follow the directions below, this content will disappear.</p>
            <p class="footnote">Read this entire page first and then follow each of the directions below.  Each button-link
                below will either open a pop-up window or add elements to this screen.
            </p>
            <ol>
                <li><a href="/?edit" class="btn btn-primary">Login and enable Edit mode</a>
                    The initial user name is 'admin' and the temporary password is 'password'.</li>
                <li><a href="{% url "admin:auth_user_change" 1 %}" id="auth_user_change" class="btn btn-primary">Change your User
                    Account</a> info and password:
                    <ol>
                        <li>Password first!  Click on the <code>this form</code> link, at the bottom of the password section
                            and change the password. You can add additional accounts later,
                            but for now you really should at least change this account's password immediately.</li>
                        <li>Change the user name and various info bits as desired.  Make sure
                            to click the <code>save</code> button which is way down at the bottom of the form.</code></li>
                    </ol>
                </li>
                <li><a href="{% url "admin:cms_page_add" %}?title=Home" id="add-page" class="btn btn-primary" >Add the Home Page</a>
                    and save it.</li>
                <li>This content will no longer be available after this step, so make sure to
                    read the rest of this page before completing this task, or optionally you may wish to print this page
                    now for later review.  In the pages list to the left (not the bread-crumbs at the <i>very</i> top), click the
                    "home" link for the page that you just created. The main panel window will now be viewing the home page
                    that you created in edit mode.  Add some content and publish it.</li>
            </ol>
            <h2>
                Further cleanup, options and finalization:
            </h2>
            <ol>
                <li>After you have changed the admin password, make sure to remove the <code>initial_data.json</code> file
                    from the project directory so that the admin account password does not get reset to 'password' every
                    time you sync the database.</li>
                <li>Edit and modify the html templates and css/less files in the project directory to suit you needs.
                    Particularly the base.html - don't forget to set the meta-data values in the header section, replacing
                    any occurrences of <code>&#123;&#123; project_name &#125;&#125;</code> with appropriate values.</li>
                <li><a href="{% url "admin:sites_site_change" 1 %}" id="sites_site_change" class="btn btn-primary">Change the Site</a>
                    name to something more appropriate.  </li>
            </ol>
            </p>
            <p class="footnote">
                If you don't see the Odd Otter Co logo at the top or the bubble graphic in the background, make sure that
                you properly linked the <code>static/cms</code> folder to your static files directory.</p>
            <p class="footnote">
                You're seeing this message because you have <code>DEBUG = True</code> in your
                django settings file and haven't added any pages yet.
            </p>
            <p class="footnote">If you need more assistance,
                come to our forums at <a href="http://oddotter.com/soupmix" target="_blank">
                http://oddotter.com/soupmix</a>.</p>
            <p class="footnote">You can always go back to the <a href="{% url "admin:cms_page_changelist" %}" id="publish-page" class="btn btn-primary" >CMS Page List</a> by
                selecting "Pages" under the your-site's-name menu.</p>
        </div>
    </div>


    {% addtoblock "js" %}
        <script type="text/javascript">
        if(window.CMS !== undefined) {
            CMS.$('#add-page').bind('click', function (e) {
                e.preventDefault();
                var sideframe = new CMS.Sideframe();
                sideframe.open('{% url "admin:cms_page_add" %}?title=Home', true);
            });
            CMS.$('#auth_user_change').bind('click', function (e) {
                e.preventDefault();
                var sideframe = new CMS.Sideframe();
                sideframe.open('{% url "admin:auth_user_change" 1 %}', true);
            });
            CMS.$('#sites_site_change').bind('click', function (e) {
                e.preventDefault();
                var sideframe = new CMS.Sideframe();
                sideframe.open('{% url "admin:sites_site_change" 1 %}', true);
            });

            CMS.$('#publish-page').bind('click', function (e) {
                e.preventDefault();
                var dialog = new CMS.Modal();
                dialog.open('{% url "admin:cms_page_changelist" %}', 'Publish Home Page');
                dialog.close = function () {
                    CMS.API.Helpers.reloadBrowser();
                };
            });
        }
        </script>
    {% endaddtoblock %}

{% endblock body %}
