{% load i18n %}
{% load url from future %}

<div class="plugin plugin-blog">
    {% block blog_title %}<h2>{% trans "Blog Categories" %}</h2>{% endblock %}
    <ul class="list-group blog-tags">
        {% for tag in tags %}
		    <li class="list-group-item">
                <a href="{% url 'aldryn_blog:tagged-posts' tag=tag.slug %}" class="blog-tag-{{ tag.count }}">
                    <span class="badge">{{ tag.count }}</span>
                    {{ tag.name }}
                </a>
            </li>
        {% empty %}
            <li class="blog-empty">
                <p>{% trans "No entry found." %}</p>
            </li>
        {% endfor %}
    </ul>
</div>
