{% load i18n thumbnail cms_tags aldryn_blog_tags %}
<div class="blog-items">
    {% for post in posts %}
        <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title"><a href="{{ post.get_absolute_url }}">{% render_model post "title" %}</a></h3>
        </div>

        <div class="panel-body">
            {% if image and post.key_visual_id %}
                <div class="blog-visual"><a href="{{ post.get_absolute_url }}">
                <img src="{% thumbnail post.key_visual 90x90 crop subject_location=post.key_visual.subject_location %}" alt=""/>
            </a></div>
            {% endif %}
            <div class="blog-lead">{% render_model post "lead_in" "lead_in" "" safe %}</div>
            </div>

            <div class="panel-footer">
                {% block blog_meta %}
                    <div class="blog-meta">
                        <span class="blog-date">{{ post.publication_start|date }}</span>
                        <span class="blog-author">{% trans "by" %} {{ post.author|user_name }}</span>
                        {% if post.tags and false %}
                            <span class="blog-tags">
                                {% for tag in post.tags %}
                                    <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
                                    {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </span>
                        {% endif %}
                        <div class="blog-more"><a class="btn btn-primary btn-xs" href="{{ post.get_absolute_url }}">{% trans "read more" %}...</a></div>
                    </div>
                {% endblock %}
            </div>
        </div>
    {% empty %}
        <p class="blog-empty">{% trans "No entry found." %}</p>
    {% endfor %}
    </div>
