{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}



{% block extend_breadcrumb %}
    {{ block.super }}
    {% block blog_breadcrumb %}
    {% endblock blog_breadcrumb %}
{% endblock extend_breadcrumb%}

{% block body %}

    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6 app app-blog">
            {% block content_blog %}{% endblock %}
        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
            {% static_placeholder "aldryn_blog_sidebar" or %}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Blog Menu</h3>
                  </div>
                  <div class="panel-body">
                        <p>Add and configure your blog navigation plugins here..</p>
                  </div>
                </div>
            {% endstatic_placeholder %}
        </div>
    </div>
{% endblock body %}

