{% extends "aldryn_blog/base.html" %}{% load i18n thumbnail aldryn_blog_tags %}{% load url from future %}

{% block content_blog %}
    <div class="blog-list">
        {% block blog_title %}<h2>{% trans "Blog Categories" %}</h2>{% endblock %}
        <ul class="list-group blog-categories">
            {% for category in object_list %}
                <li class="list-group-item">
                    <a href="{% url 'aldryn_blog:category-posts' category=category.slug %}" class="blog-category-{{ category.count }}">
                        <span class="badge">{{ category.count }}</span> {{ category.name }}
                    </a>
                </li>
            {% empty %}
                <li class="blog-empty">
                    <p>{% trans "No entry found." %}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
