@import "../bootswatch/bower_components/bootstrap/less/variables.less";
@import "../bootswatch/bower_components/bootstrap/less/bootstrap.less";
@import "mixins.less";

// Django-CMS patch
div.imagecontainer.pull-left {
  padding-right: 8px;
}
div.imagecontainer.pull-right {
  padding-left: 8px;
}


@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic);
@import "../bootswatch/slate/variables.less";
@import "../bootswatch/slate/bootswatch.less";
//@import "lincoln/variables.less";
//@import "lincoln/bootswatch.less";

// If using fixed-top navbar, you need to push everything down.  This does it automatically
.navbar-fixed-top + div.container {margin-top: 70px;}

.navbar-brand {
  >img {
    float: left;
    padding-right: 10px;
    vertical-align: top;
    margin-top: -10px;
    margin-left: -10px;
    @media (min-width: @screen-sm-min) {
      display: none;
    }
  }
}
//#bg-flare {
//  display: none;
//}

body {
  background: url(../img/background.gif) repeat fixed;
}
#bg-flare {
  margin: 0 auto;
  position: absolute;
  top: 0;
  >img {
    width: 100%;
  }
}
.container {
  .box-shadow(0 5px 12px rgba(0, 0, 0, 0.8));
  background: rgba(0, 0, 0, .5);
  border-radius: @border-radius-large; // Only round corners at higher resolutions if contained in a container
  margin-bottom: @padding-large-vertical;
}
.navbar {
  background-color: #000000;
}

.page-header {
  padding:  0;
  margin: 0;
  > .row {
    background: #000;
    position: relative;
    border-radius: @border-radius-large @border-radius-large 0 0; // Only round corners at higher resolutions if contained in a container
    #logo-large {
      .imagecontainer {
        height: 130px;
        position: relative;
        z-index: 99;
        img {
          position: relative;
          top: -40px;
          left: -75px;
          background: none;
          border: 0 none;
        }
        @media (max-width: @screen-sm-min) {
          display: none;
        }
        
      }
    }
  }
}

#feature.row {
  padding-top: 30px;
}
footer {
  >.row {
    >div {
      background: #000;
      border-radius: 0 0 @border-radius-large @border-radius-large;
      border: 1px;
    }
  }
}


// ------------------------------------------- Aldryn Blog styling
.panel-footer {
  font-style: italic;
  font-size: 80%;
  .blog-more {
    float: right;
  }
}
.blog-visual {
  float: left;
  padding-right: 8px;
}
.blog-detail{
  >.blog-visual {
    >img{
      width: 100%;
    }
  }
}
ul.blog-tags{
  list-style: none;
  padding-left: 0px;
  >li {
    text-transform: capitalize;
  }
}
.plugin-blog {
  span.badge {
    float: right;
  }
}