{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% load i18n %}
{% load url from future %}
{% load saved_queries %}
{% load load_helpdesk_settings %}
{% with request|load_helpdesk_settings as helpdesk_settings %}
{% with request|saved_queries as user_saved_queries_ %}

{% block tpl_id %}helpdesk{% endblock tpl_id %}

{% block extra_head %}
        <script src='{{ STATIC_URL }}helpdesk/jquery-1.5.min.js' type='text/javascript' language='javascript'></script>
        <script src='{{ STATIC_URL }}helpdesk/jquery-ui-1.8.9.custom.min.js' type='text/javascript' language='javascript'></script>
        <link rel='stylesheet' href='{{ STATIC_URL }}helpdesk/helpdesk-print.css' type='text/css' media="print" />
        <link rel='stylesheet' href='{{ STATIC_URL }}helpdesk/jquery-smoothness-theme/jquery-ui-1.8.9.custom.css' type='text/css' />
        <link rel='alternate' href='{% url 'helpdesk_rss_user' user.username %}' type='application/rss+xml' title='{% trans "My Open Tickets" %}' />
        <link rel='alternate' href='{% url 'helpdesk_rss_activity' %}' type='application/rss+xml' title='{% trans "All Recent Activity" %}' />
        <link rel='alternate' href='{% url 'helpdesk_rss_unassigned' %}' type='application/rss+xml' title='{% trans "Unassigned Tickets" %}' />

        <style type="text/css">
        /* hide google translate top bar */
        .goog-te-banner-frame {display: none !important;}
        .goog-te-balloon-frame {display: none !important;}
        /* hide google translate tooltips (generated for every translated item) */
        .goog-tooltip {display: none !important; }
        </style>

        <style type="text/css">
        /* header */
        #dropdown li.headerlink { width: auto; float: left; text-align: center; }

        /* query list */
        #dropdown li.headerlink ul {    display: none;
                                        text-align: left;
                                        position: absolute;
                                        padding: 5px;
                                        z-index: 2; }
        /* query entries */
        #dropdown li.headerlink:hover ul { display: block; width: auto; }
        #dropdown li.headerlink:hover ul li { padding: 5px; margin: 1px; float: none; display: block; }
        </style>

        {% block helpdesk_head %}{% endblock %}
{% endblock extra_head %}


{% block mainbody %}
    <section class="features">
        <div class="col-main" id="content">
            {% block content %}
                <h1>{% trans "Helpdesk" %}</h1>
                {% block helpdesk_body %}{% endblock %}
            {% endblock content %}
        </div>
    </section>
    <section>
        <div class="col-sidebar sidebar">
            {% block sidebar %}
                {% include "helpdesk/navigation.html" %}
				<div class="txtPlugin"><ul>
                    <li>
                        <a href='{% url 'helpdesk_rss_index' %}'>
                            <img src='{{ STATIC_URL }}helpdesk/rss_icon.png' width='14' height='14' alt='{% trans "RSS Icon" %}' title='{% trans "RSS Feeds" %}' border='0' />
                            {% trans "RSS Feeds" %}
                        </a>
                    </li>

                    <li>
                        <a href='{% url 'helpdesk_user_settings' %}'>{% trans "User Settings" %}</a>
                    </li>
                    {% if user.is_superuser %}
                        <li>
                            <a href='{% url 'helpdesk_system_settings' %}'>{% trans "System Settings" %}</a>
                        </li>
                    {% endif %}
                    {% if helpdesk_settings.HELPDESK_FOOTER_SHOW_CHANGE_LANGUAGE_LINK %}
                        <li>
                            <a href='{% url 'helpdesk_public_change_language' %}?return_to={{ request.path }}'>{% trans "Change Language" %}</a>
                        </li>
                    {% endif %}
                    {% if helpdesk_settings.HELPDESK_FOOTER_SHOW_API_LINK %}
                        <li>
                            <a href='{% url 'helpdesk_api_help' %}'>{% trans "API" %}</a>
                        </li>
                        <li>
                            {% include "helpdesk/debug.html" %}
                        </li>
                    {% endif %}

                </ul></div>

            {% endblock sidebar %}
        </div>
    </section>
{% endblock mainbody %}





{% endwith %}
{% endwith %}


