{% extends "registration/registration_base.html" %}
{% load static from staticfiles %}

{% block title %}Login{% endblock %}

{% block tpl_id %}login{% endblock tpl_id %}

{% block content %}

    {% if not user.is_authenticated %}

        <h1>Sign-In</h1>
        <form method="post" action="{% url "django.contrib.auth.views.login" %}" id='loginform'>
            {% csrf_token %}
            <fieldset>
                <legend>Authentication Information:</legend>

                {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                {% endif %}

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {% for field in form.visible_fields %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                    </div>
                {% endfor %}

            </fieldset>

            <input type="submit" value="Log In" />
            <input type="hidden" name="next" value="{{ next }}" />

        </form>
        <p>
            <a href="{% url "auth_password_reset" %}">Forgot</a> your password?
{#            <a href="{% url "registration_register" %}">Need an account</a>?#}
        </p>

        <hr />
        <p>You can also Login with:
    {% else %}
        <h1>Profile</h1>
        <p>Welcome, {{ request.user }}.  Dont forget to <a href="/accounts/logout/">Logout</a> when you are done here.</p>
        <hr />
        <p>You can add login access from the following social networks to your profile:
    {% endif %}

        <a href="{% url 'social:begin' 'google-oauth' %}"><img src="{% static "img/basic_social/colored/32/rounded_square/google.png" %}" /></a>
        <a href="{% url "social:begin" "facebook" %}"><img src="{% static "img/basic_social/colored/32/rounded_square/facebook.png" %}" /></a>
{#        <a href="{% url 'social:begin' 'twitter' %}"><img src="{% static "img/basic_social/colored/32/rounded_square/twitter.png" %}" /></a>#}
{#        <a href="{% url 'social:begin' 'facebook-app' %}">Facebook App</a>#}
{#        <a href="{% url 'social:begin' 'amazon' %}">Amazon OAuth2</a>#}
{#        <a href="{% url 'social:begin' 'bitbucket' %}">Bitbucket OAuth1</a>#}
{#        <a href="{% url 'social:begin' 'dropbox' %}">Dropbox OAuth1</a>#}
{#        <a href="{% url 'social:begin' 'github' %}">Github OAuth2</a>#}
{#        <a href="{% url 'social:begin' 'google' %}">Google OpenId</a>#}
{#        <a href="{% url 'social:begin' 'google-oauth' %}">Google OAuth1</a>#}
{#        <a href="{% url 'social:begin' 'google-oauth2' %}">Google OAuth2</a>#}
{#        <a href="{% url 'social:begin' 'linkedin' %}">LinkedIn OAuth1</a>#}
{#        <a href="{% url 'social:begin' 'live' %}">Live OAuth2</a>#}
{#        <a href="{% url 'social:begin' 'stackoverflow' %}">Stackoverflow OAuth2</a>#}
    </p>


{% endblock %}
