{% extends "registration/registration_base.html" %}
{% block tpl_id %}login{% endblock tpl_id %}

{% block title %}Register for an account{% endblock %}
{% block content %}
    <h1>Sign-Up</h1>
    <p>Sign up for site membership, specials and promotional information.</p>
    <form method="post" action="." id='loginform'>{% csrf_token %}
        <fieldset>
            <legend>Create your Log-In:</legend>

            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}

        </fieldset>

        <input type="submit" value="Send activation email" />
        <input type="hidden" name="next" value="{{ next }}" />

    </form>

{% endblock %}


