{% load thumbnail filer_tags filer_image_tags sekizai_tags %}{% spaceless %}
{% comment %}
	You may change the image size for special cases in your project by overriding
	this template. There are a few size manipulation filters for this in
	`filer_image_tags`:

	{% if placeholder == 'my_special_sidebar' %}
		{% thumbnail instance.image opts.size|extra_padding_y:10 crop=opts.crop upscale=opts.upscale as thumbnail %}
	{% else %}
		{% thumbnail instance.image opts.size crop=opts.crop upscale=opts.upscale as thumbnail %}
	{% endif %}
	{% if link %}<a href="{{ link }}"{% if instance.target_blank %} target="_blank"{% endif %}>{% endif %}<img{% if instance.alignment %} class="{{ instance.alignment }}"{% endif %} alt="{% if instance.alt %}{{ instance.alt }}{% endif %}" src="{{ thumbnail.url }}"{% if instance.caption %} title="{{ instance.caption }}"{% endif %} />{% if link %}</a>{% endif %}
{% endcomment %}

<div class='imagecontainer{% if instance.alignment %} pull-{{ instance.alignment }}{% endif %}' >
    {% if link %}<a href="{{ link }}"{% if instance.target_blank %} target="_blank"{% endif %} class="filer_image_link">{% endif %}

    {% if instance.image %}
        {# a local image is requested #}
        {% if instance.use_original_image %}
            {# The un-altered version is desired #}
            <img src="{{ instance.image.url }}"
                class="filer_image {% if instance.alignment %}{{ instance.alignment }}{% endif %} original"
                {% if instance.alt %}alt="{{ instance.alt }}"{% endif %}
                {% if instance.width %} width="{{ instance.width }}"{% endif %}
                {% if instance.height %} height="{{ instance.height }}"{% endif %}
                {% if instance.caption %} title="{{ instance.caption }}"{% endif %}
             />
        {% else %}
            {# Normal cropping/resizing is desired #}
            {% thumbnail instance.image opts.size crop=opts.crop upscale=opts.upscale subject_location=opts.subject_location as thumbnail %}
            <img src="{{ thumbnail.url }}"
                class="filer_image resized {% if instance.alignment %} pull-{{ instance.alignment }{% endif %}{% if link %} thumbnail{% endif %}"
                {% if instance.alt %}alt="{{ instance.alt }}"{% endif %}
                {% if thumbnail.width %} width="{{ thumbnail.width }}"{% endif %}
                {% if thumbnail.height %} height="{{ thumbnail.height }}"{% endif %}
                {% if instance.caption %} title="{{ instance.caption }}"{% endif %}
            />
        {% endif %}
    {% else %}
        {# just a plain link to an external image #}
        <img src="{{ instance.image_url }}"
                class="filer_image external{% if instance.alignment %} pull-{{ instance.alignment }}{% endif %}"
                {% if instance.alt %}alt="{{ instance.alt }}"{% endif %}
                {% if size.0 %} width="{{ size.0 }}"{% endif %}
                {% if size.1 %} height="{{ size.1 }}"{% endif %}
                {% if instance.caption %}title="{{ instance.caption }}"{% endif %} />
    {% endif %}

    {% if instance.caption or instance.description %}
        {# If there is a caption or description, add it #}
        <span class="filer_image_info">
            {% if instance.caption %}<span class="title">{{ instance.caption }}</span>{% endif %}
            {% if instance.description %}<span class="desc">{{ instance.description }}</span>{% endif %}
        </span>
    {% endif %}
    {% if link %}</a>{% endif %}
</div>
{% endspaceless %}
